# sber variables
SALUTE_SPEECH_AUTH_KEY=
GIGACHAT_AUTH_KEY=

# yandex variables
SPEECHKIT_API_KEY=
YANDEX_CLOUD_FOLDER_ID=
YANDEX_OBJECT_STORAGE_ACCESS_KEY=
YANDEX_STORAGE_SECRET_ACCESS_KEY=
YANDEX_STORAGE_REGION=ru-central1
YANDEX_STORAGE_ENDPOINT_URL=httpsstorage.yandexcloud.net
YANDEX_STORAGE_BUCKET_NAME=
YANDEX_FOUNDATION_MODELS_API_KEY=

# google variables, credentials - path to json file
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_STORAGE_BUCKET_NAME=
GOOGLE_PROJECT_ID=
GOOGLE_AI_API_KEY=

# azure variables
AZURE_SPEECH_SERVICE_KEY=
AZURE_SPEECH_SERVICE_REGION=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
OPENAI_API_VERSION=

# vosk variables
VOSK_MODEL_PATH=

# openai variables
OPENAI_API_KEY=

# deepseek variablse
DEEPSEEK_API_KEY=

# anthropic variables
ANTHROPIC_API_KEY=

# for ssl sertificate
REQUESTS_CA_BUNDLE=etcsslcertsca-certificates.crt
